/* Using the https://rustconf.com color scheme. */
:root {
    --beige: rgb(247, 243, 224);
    --purple: rgb(54, 36, 91);
    --purple-light: rgb(122, 112, 140);
    --purple-dark: rgb(40, 22, 76);
    --green: rgb(83, 151, 64);
    --green-light: rgb(198, 224, 195);
    --pink: rgb(209, 59, 97);
    --pink-light: rgb(230, 84, 121);

}

body {
    font-family: "Pragati Narrow Bold",sans-serif;
    background-color: var(--beige);
    color: var(--purple);
}

a {
    color: var(--green);
}

a:hover {
    color: var(--purple);
}

h3 {
    border-bottom: 1px solid var(--purple);
}

@media (max-width:400px){
    .cram-smaller-on-small{
        transform: scale(0.6);
        margin-left: -5em;
        overflow: auto;
    }
}

@media (min-width:800px){
    #content {
        width: 80%;
        margin: auto;
    }
}

/* From https://codepen.io/eode9/pen/jOGmrx */
.corner-ribbon{
    width: 300px;
    background: var(--green);
    position: absolute;
    top: 25px;
    left: -100px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon a {
    text-decoration: none;
}

/* Different positions */

.corner-ribbon.top-left{
    top: 50px;
    left: -75px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
    top: 50px;
    right: -75px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#g-link a {
    text-decoration: none;
    color: black;
}

@media (max-width:400px){
    .cram-smaller-on-small{
        transform: scale(0.6);
        margin-left: -5em;
        overflow: auto;
    }
}

@media (max-width:800px){
    .corner-ribbon{
        width: 200px;
        font-size: 8pt;
        line-height: 35px;
        letter-spacing: 1px;
    }

    .corner-ribbon.top-right{
        top: 25px;
        right: -50px;
        left: auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

@media (max-width:1200px){
    #g-link {
        position: absolute;
        margin-top: 10px;
        left: 10px;
        width: 120px;
        font-size: small;
    }
    #menu {
        margin-top: 0.5em;
        margin-left: 0.5em;
        border-bottom: 1px solid var(--purple-light);
    }
    #menu ul {
        display: inline;
        padding-top: 0;
        margin-top: 0;
        list-style-type: none;
    }
    #menu ul li {
        float: left;
        margin: 0.5em;
    }
    #menu ul ul li {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

@media (min-width:1200px){
    #content {
        width: 60%;
        margin: auto;
    }
    #g-link {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 80px;
    }
    #menu {
        position: fixed;
        width: 10%;
        top: 10px;
        left: 10%;
        border: 1px solid var(--purple-light);
    }
    #menu ul {
        padding-left: 1.5em;
        margin-right: 0;
        padding-right: 0;
    }
    /* #menu::before { */
    /*     content: "MENU"; */
    /* } */
}

@media (min-width:800px){
    .corner-ribbon{
        width: 300px;
        line-height: 50px;
        letter-spacing: 1px;
    }

    .corner-ribbon.top-right{
        top: 50px;
        right: -75px;
        left: auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

@media (max-width:800px){
    #g-link {
        position: absolute;
        top: 5px;
        left: 45%;
    }
    #g-link img {
        display: none;
    }
}
