<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Semi-automatically migrate well-designed, general-purpose C++ code into the Rust programming language.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url=https://www.grammatech.com/cyber-security-solutions/migration-to-memory-safe-code/">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/cram.css"|url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.4.0/css/all.css">
  </head>
  <body>
    <header>
      {% include 'menu' %}
      {% include 'g-link' %}
    </header>
    <a href="https://gitlab.com/cpp-rust-assisted-migration/source">
      <div class="corner-ribbon top-right">Repo on GitLab</div>
    </a>

    <div id="content" class="w3-container">
      {{ content }}
    </div>

  </body>
</html>
