<div id="g-link">
  <a href="https://grammatech.github.io">
    <img class="w3-image w3-center"
         style="margin-left:1em;margin-right:1em;margin-bottom:0.25em;"
         src="{{ "/img/grammatech-g.png"|url }}"
         width="60px">
    <span>GrammaTech</span>
  </a>
</div>
<div class="w3-hide-large w3-hide-medium">
  <a href="{{ "/"|url }}" class="w3-top">
    <img class="w3-image w3-padding-small w3-right" src="{{ "/img/grammatech-g.png"|url }}" width="40px">
    <span>GrammaTech</span>
  </a>
</div>
