<div id="menu">
  <ul>
    <li style="list-style-type: none;">Menu:</li>
    {% if page.url != '/' %}
    <li><a href="{{ '/'|url }}">Home</a></li>
    {% endif %}
    {% if page.url contains '/usage' %}
    {% else %}
    <li><a href="{{ '/usage'|url }}">Usage</a></li>
    {% endif %}
    {% if page.url contains '/blog' %}
    {% else %}
    <li><a href="{{ '/blog'|url }}">Blog</a></li>
    {% endif %}
  </ul>
  <div style="clear:both"></div>
</div>
